pipdeptree
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
pydub==0.25.1
opencv-python==4.10.0.84
transformers==4.44.2
torch==2.5.1
numpy==1.26.4
soundfile==0.12.1
Flask-Migrate==4.0.7
reportlab==4.2.0
ffmpeg-python==0.2.0
# mediapipe==0.10.3  ← Commented out, installed manually in code
noisereduce==3.0.0
librosa==0.10.1     # changed from 0.10.2 → avoids newer scipy
scipy==1.10.1       # Prebuilt wheel — no compiler needed
openai-whisper==20231117
gunicorn
